<div class="chat-list-container" ng-controller="RoomNavCtrl as roomNav">
	<div class="chat-room-list">
		<h1><i class="icon ion-chatboxes"></i> Bloc Chat</h1>
		<div ng-repeat="room in roomNav.rooms" 
				class="chat-room-list-item">
			<h5><a href="/chat-rooms/{{room.id}}"><i class="icon ion-pound"></i> {{ room.name }}</a></h5>
		</div>
		<div class="chat-room-list-item"
				ng-controller="NewRoomModalCtrl as modal"
				ng-click="modal.open()">
			<i class="icon ion-plus-round"></i> New Chat Room
		</div>
	</div>
</div>