/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require ionicons
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300);
@import 'variables';

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 10px;
}

body {
	font-family: 'Open Sans';
	color: #000;
	min-height: 100%;
	padding-left: chat-room-list-width;
	margin: 0;
}

.btn.btn-primary,
.btn.btn-primary:active,
.btn.btn-primary:focus {
	background: $primary-color;
	border-color: $primary-color;
}

.btn.btn-primary:hover {
	border-color: rgba(88,193,102,0.75);
	background-color: rgba(88,193,102,0.75);
}

.btn.btn-warning,
.btn.btn-warning:active,
.btn.btn-warning:focus {
	background: #fff;
	border-color: $primary-color;
	color: $primary-color;
}

.btn.btn-warning:hover {
	color: rgba(88,193,102,0.75);
	border-color: rgba(88,193,102,0.75); 
}